* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(64, 67, 68);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.item_style {
  background-color: #fff;
  padding: 20px 0px;
  margin: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1, h2 {
  padding: 20px 0px;
}

.item_display {
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width:600px) {
  nav, .nav-links {
    display: flex;
    flex-direction: column;
  }
    .nav-links, .nav-links li {
      padding: 10px 0;
    }
         
}